html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --first-hue: 16;
  --sat: 17.5%;
  --lig: 34.5%;
  --second-hue: 196;

  --first-color: hsl(var(--first-hue), var(--sat), var(--lig));
  --second-color: hsl(var(--second-hue), var(--sat), var(--lig));
}
